<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="seceruty-components">

    <a href="{% url "user_password_change" %}"><button>Изменить пароль</button></a><h1></h1>

        <a href="{% url "Change_user_profile" %}"><button>Изменить Имяпользователя</button></a>
        
    </div>
    
</body>
</html>

<style>
    .seceruty-components{
        text-align: center;
        margin-top: 200px;
    }
</style>




<style>
    body{
        background: url(https://images.alphacoders.com/102/thumb-1920-1026345.jpg);
    }
    .seceruty-components button {
        background-color: #0095f6;
        color: #fff;
        border: none;
        padding: 10px 10px;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
    }

</style>